<ul class="pick_list<%= local_assigns[:full] ? ' full' : '' %>">
  <li class="trays" onclick="location='<%= base_units_path %>';">
    <%= link_to 'Unit Trays', base_units_path %>
    <div class="highlight">
      <p>Unit Trays</p>
    </div>
  </li>
  <li class="more">More to come...</li>
</ul>
