<% title 'Welcome' %>
<% body_style 'narrow anim_hdr' %>
<h1>Welcome to <%=site_name %></h1>

<ul class="pick_list">
	<li class="trays"><%= link_to 'Print Some Trays', base_units_path %></li>
</ul>

<p class="actions">More will be coming...</p>
