// media
$break-wide-web: 1600px;
$break-web: 1200px;
$break-tablet-ls: 1024px;
$break-tablet: 768px;
$break-phone-ls: 480px;
$break-phone: 320px;

@mixin respond-to($media) {
  @if $media == wide-web {
    @media only screen and (min-width: $break-wide-web + 1) { @content; }
  }
  @else if $media == web {
    @media only screen and (min-width: $break-web + 1) and (max-width: $break-wide-web - 1) { @content; }
  }
  @else if $media == tablet-ls {
    @media only screen and (min-width: $break-tablet-ls) and (max-width: $break-web - 1) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $break-tablet) and (max-width: $break-tablet-ls - 1) { @content; }
  }
  @else if $media == phone {
    @media only screen and (max-width: $break-tablet - 1) { @content; }
  }
  @else if $media == phone-ls {
    @media only screen and (min-width: $break-phone-ls) and (max-width: $break-tablet - 1) { @content; }
  }
}

// colors
$background: white;
$foreground: #222222;
$border-color: #aaaaaa;
$shadow-color: rgba(60,60,60,0.5);
$link-color: #3031d6;
$warning-color: #dd0505;
$standard-fonts: Verdana,Arial,Helvetica,sans-serif;
$highlight-fonts: 'Nova Square',Verdana,Arial,Helvetica,sans-serif;

// body and universal
body {
  background-color: $background; color: $foreground;
  font-family: $standard-fonts;
  line-height: 18px; min-width: 340px;
}
.smcaps { display: inline-block; text-transform: uppercase; font-size: 90%; }
.smcaps::first-letter { text-transform: uppercase; font-size: 111%; }
h1 { font-family: $highlight-fonts; font-size: 30px; line-height: 32px; text-align: center; }
a { text-decoration: none; color: $link-color; }
a:visited { color: darken($link-color, 15%); }
a:hover { text-decoration: underline; }
.touch a { text-decoration: underline; }
a.btn, .touch a.tbtn {
  display: inline-block;
  text-decoration: none;
  color: $foreground;
  border: solid 1px lighten($foreground, 20%);
  border-radius: 5px;
  padding: 2px 7px;
  margin-bottom: 3px;
  vertical-align: center;
}
a.btn:visited, .touch a.tbtn:visited { color: $foreground; }
a.btn:hover, .touch a.tbtn:hover { box-shadow: 2px 2px 3px $shadow-color; text-decoration: none; color: $link-color; }
a.btn:active, .touch a.tbtn:active { box-shadow: 2px 2px 3px $shadow-color inset; background-color: #eeeeee; color: $link-color; }

p, ul, ol, dl { margin: 3px 0; }
dl dt { display: inline-block; width: 24%; margin-right: 1%; text-align: right; font-weight: bold; }
dl dd { display: inline-block; width: 74%; text-align: left; }
.lyo_cnt { width: 1000px; margin: 0 auto; }
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

// header
@keyframes notice {
  from { opacity: 1; }
    to { opacity: 0; }
}
@-webkit-keyframes notice {
  from { opacity: 1; }
    to { opacity: 0; }
}
$fold-shadow: #eeeeee;
#hdr {
  position: fixed;
  top: 0px; left: 0px; width: 100%; height: 92px; padding-top: 10px; min-width: 340px; z-index: 200;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9) 44%, rgba(255, 255, 255, 0) 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9) 44%, rgba(255, 255, 255, 0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.9) 44%, rgba(255, 255, 255, 0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.9) 44%, rgba(255, 255, 255, 0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 44%, rgba(255, 255, 255, 0) 100%); /* W3C */

  div {
    display: inline-block; float: left; vertical-align: top;
    background-color: white; border-style: solid none; border-color: black; border-width: 1px;
    height: 45px; line-height: 45px; font-size: 35px;
  }
  .hdr_lt, .hdr_rt {
    @include respond-to(wide-web) { width: calc(50% - 800px); }
    @include respond-to(web) { width: calc(50% - 600px); }
    @include respond-to(tablet-ls) { width: calc(50% - 512px); }
    @include respond-to(tablet) { width: calc(50% - 384px); }
    @include respond-to(phone) { width: calc(50% - 170px); }
    @include respond-to(phone-ls) { width: calc(50% - 240px); }
  }
  .hdr_lt { margin-top: 44px; }
  .hdr_fold {
    width: 89px; margin-top: 22px;
    border-style: solid dotted solid dashed;
    font-family: $highlight-fonts; cursor: pointer;
    transform: skewY(154deg); -webkit-transform: skewY(154deg);
    background: -moz-linear-gradient(left, #ffffff 57px, $fold-shadow 85px); /* FF3.6+ */
    background: -webkit-linear-gradient(left, #ffffff 57px, $fold-shadow 85px); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ffffff 57px, $fold-shadow 85px); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #ffffff 57px, $fold-shadow 85px); /* IE10+ */
    background: linear-gradient(to right, #ffffff 57px, $fold-shadow 85px); /* W3C */
  }
  .hdr_main {
    position: relative;
    @include respond-to(wide-web) { width: 1509px; }
    @include respond-to(web) { width: 1109px; }
    @include respond-to(tablet-ls) { width: 933px; }
    @include respond-to(tablet) { width: 677px; }
    @include respond-to(phone) { width: 249px; }
    @include respond-to(phone-ls) { width: 389px; }
    background: -moz-linear-gradient(left, $fold-shadow 4px, #ffffff 32px); /* FF3.6+ */
    background: -webkit-linear-gradient(left, $fold-shadow 4px, #ffffff 32px); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, $fold-shadow 4px, #ffffff 32px); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, $fold-shadow 4px, #ffffff 32px); /* IE10+ */
    background: linear-gradient(left, $fold-shadow 4px, #ffffff 32px); /* W3C */

    .hdr_logo_rt {
      font-family: $highlight-fonts; cursor: pointer;
      transform: scaleX(1.25); -webkit-transform: scaleX(1.25);
      margin-left: 10px;
    }
    #acct {
      float: right; height: 45px; width: 45px; border: none;
      background: transparent image-url('acct_icons.png') left top no-repeat;
    }
    #acct.w_login { background-position: -45px 0; }
//    #zone {
//      float:right; height: 45px; padding-right: 55px; border: none;
//      line-height: 45px; font-size: 18px; font-family: $highlight-fonts;
//    }
//    #zone.z___hide__ { display: none; }
  }
  .notice, .alert { width: 70%; margin: 0 auto; background: rgba(255,255,255,0.8); text-align: center; }
  .notice {
    font-size: 14px; color: #409040; margin-top: 50px;
    animation: 5s linear 1s normal forwards 1 notice; -webkit-animation: 5s linear 1s normal forwards 1 notice;
   }
  .alert { font-weight: bold; color: $warning-color; }
}
a#logo, a#logo:hover, a#logo:visited { text-decoration: none; background-color: $background; color: $foreground; }

#content { width: 100%; padding: 80px 0 30px; }
body.narrow #content .lyo_cnt { width: 500px; }
body.vnarrow #content .lyo_cnt {
  width: 300px;
  input[type=text], input[type=password], input[type=email] { width: 100%; }
}

#ftr {
  position: fixed; bottom: 0; left: 0; width: 100%; height: 20px;
  padding: 4px 0;
  background-color: $background;
  border-top: solid 1px $border-color;
  box-shadow: 0 -3px 8px $shadow-color;
  text-align: center;
  z-index: 99;
}

@import "scaffolds";
@import "home";
@import "base_units";
@import "trays";

@media print {
  #hdr, #ftr, p.actions { display: none; }
  #content { padding: 0; }
  .lyo_cnt { margin: 0; width: 100%; }
}