// Place all the styles related to the home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

@keyframes hdrFold {
  from { transform: skewY(180deg); margin-top: 0; }
    to { transform: skewY(154deg); margin-top: 22px; }
}
@-webkit-keyframes hdrFold {
  from { -webkit-transform: skewY(180deg); margin-top: 0; }
    to { -webkit-transform: skewY(154deg); margin-top: 22px; }
}
@keyframes hdrLt {
  from { margin-top: 0; }
    to { margin-top: 44px; }
}
@-webkit-keyframes hdrLt {
  from { margin-top: 0; }
    to { margin-top: 44px; }
}
.anim_hdr #hdr {
  .hdr_lt {
    margin-top: 0;
    animation: 0.5s linear 2s normal forwards 1 hdrLt;
    -webkit-animation: 0.5s linear 2s normal forwards 1 hdrLt;
  }
  .hdr_fold {
    margin-top: 0;
    transform: skewY(180deg); -webkit-transform: skewY(180deg);
    animation: 0.5s linear 2s normal forwards 1 hdrFold;
    -webkit-animation: 0.5s linear 2s normal forwards 1 hdrFold;
  }
}
.anim_hdr #zone { display: none; }

.pick_list {
  margin: 15px 0 0; padding: 0; list-style-type: none; text-align: center;

  li { margin: 0 0 15px; padding: 0; }
  li a {
    display: block;  padding: 5px 10px 5px 105px; border: solid 1px white; height: 100px;
    line-height: 100px; font-size: 25px; color: black; }
  li a .icon { float: left; height: 100px; width: 100px; margin-right: 10px; }
  li a:hover, a:active { background-color: #eeeeee; font-weight: bold; text-decoration: none; border-color: rgba(128,128,128,0.5); box-shadow: 3px 3px 6px rgba(128,128,128,0.5); }
  li a:active { box-shadow: 3px 3px 6px rgba(128,128,128,0.5) inset; }

  li.trays a {
    background: transparent image-url('zone_icons.png') no-repeat;
  }
}
