pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

table { width: 100%; }
table thead th { border-bottom: solid 1px $foreground; }
table tbody tr:hover { background-color: #eeeeee; }
table tbody td { text-align: center; padding: 3px 0; border-bottom: solid 1px $border-color; margin-bottom: 3px; }
table .admin { font-size: 9px; }
p.data, p.actions { text-align: center; }

input[type=text].short, input[type=number].short { width: 50px; }