<% title 'Edit Tray Type' %>
<% zone 'Trays' %>
<% body_style 'narrow' %>
<h1>Editing Tray Type</h1>

<%= render 'form' %>

<p class="actions">
	<%= link_to 'Show', @base_unit %> |
	<%= link_to 'Back', base_units_path %>
</p>

